@import './common/var.scss';
@import './mixins/mixins.scss';
@include c(select) {
  .wt-select {
    width: 240px;
    height: 36px;
    background: #ffffff;
    border: 0.5px solid #bfcdd4;
    box-sizing: border-box;
    border-radius: 2px;
    .option {
      background: #ffffff;
      width: 240px;
      height: 36px;
      padding: 8px 16px;
    }
  }
}
