@mixin step-status($color, $bgc, $borderColor, $statusColor, $lineColor, $descriptionColor, $iconColor) {
  > .#{$prefix}-step-head-number {
    color: $color;
    border: $stepper-circle-border-width solid $borderColor;
    background-color: $bgc;
  }

  > .#{$prefix}-step-main-title {
    color: $statusColor;
  }
  > .#{$prefix}-step-head-line {
    background-color: $lineColor;
  }
  > .#{$prefix}-step-main-description {
    color: $descriptionColor;
  }
  > .#{$prefix}-step-head-icon {
    color: $iconColor;
  }
}

@mixin step-dot($size) {
  .#{$prefix}-step-head-dot {
    width: $size;
    height: $size;
  }
}

@mixin step-direction($size, $lineHeight, $dotSize) {
  display: flex;
  flex-flow: column;
  .#{$prefix}-step-head {
    flex-grow: 0;
    width: $size;
    height: 100%;
    left: 0;
    margin: 0;
    &-line {
      position: absolute;
      width: $stepper-line-size;
      height: calc(100% - #{$size + $stepper-line-padding-horizontal * 2});
      top: -100%;
      bottom: 0;
      left: ($size - $stepper-line-size)/2;
      margin-top: $size + $stepper-line-padding-horizontal;
      padding: 0;
    }
  }
  .#{$prefix}-step-main {
    text-align: left;
    position: absolute;
    top: $size/2 - $lineHeight/2 - $stepper-horizontal-statustext-margin-vertical;
    left: $size + $stepper-vertical-statustext-margin-horizontal;
    margin: 0;
    &-title,
    &-description {
      padding-left: 0;
      padding-right: 0;
    }
    &-description {
      font-size: $stepper-vertical-circel-description-font-size;
      line-height: $stepper-vertical-circel-description-line-height;
      font-weight: $stepper-vertical-circel-description-font-weight;
      padding: $stepper-vertical-description-margin-vertical $stepper-vertical-description-margin-horizontal;
    }
  }
  .#{$prefix}-step-dot {
    .#{$prefix}-step-head-line {
      height: calc(100% - #{$dotSize + $stepper-line-padding-horizontal * 2});
      margin-top: $dotSize + $stepper-line-padding-horizontal * 2;
      width: $stepper-dot-line-size;
      left: ($size - $stepper-dot-line-size)/2;
    }
    .#{$prefix}-step-main-description {
      font-size: $stepper-vertical-dot-description-font-size;
      line-height: $stepper-vertical-dot-description-line-height;
      font-weight: $stepper-vertical-dot-description-font-weight;
    }
  }
}
