@import '../common/var';

@mixin timeline-circle($width) {
  & {
    width: $width;
    height: $width;
    border-radius: 100%;
  }
}

@mixin timeline-item-dot ($size, $bgc, $border-width, $border-color, $box-shadow) {
  width: $size;
  height: $size;
  border-radius: 100%;
  box-shadow: $box-shadow;
  background-color: #0090D9;
  border: $border-width solid #0090D9;
  &-success {
    background-color: #2EAA77;
    border: $border-width solid #2EAA77;
  }
  &-fail {
    background-color: #E52533;
    border: $border-width solid #E52533;
  }
  &-warning {
    background-color: #E3812B;
    border: $border-width solid #E3812B;
  }
}
