// Icon
// -----------------
@import '../mixins/mixins.scss';
// @ignore
$icon-font-path: 'fonts' !default;
$icon-prefix: 'wticon' !default;
$icon-loading-spacing: 0px !default;
// @end ignore
// 命名规则见 README.md

// @type font-family 字体
// @category base
$font-family: Noto Sans SC, Avenir, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial,
  noto sans, sans-serif !default;
$code-family: Menlo, Monaco, Consolas, Courier New, monospace !default;
// @end category
// @end type
// @type screen 屏幕尺寸
// @category base
$screen-xs: 480px !default;
$screen-sm: 576px !default;
$screen-md: 768px !default;
$screen-lg: 992px !default;
$screen-xl: 1200px !default;
$screen-xxl: 1600px !default;
// @type font-weight 字重
// @category base
// @name 继承父级
$font-weight-inherit: inherit !default;
$font-weight-regular: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semi-bold: 600 !default;
$font-weight-bold: 700 !default;
// @end category
// @end type

// @type font-size 字体大小
// @category base
// @ignore
$display0-font-size: 64px !default;
$display1-font-size: 48px !default;
$display2-font-size: 36px !default;

$h1-font-size: 28px !default;
$h2-font-size: 24px !default;
$h3-font-size: 20px !default;
$h4-font-size: 16px !default;

$font-size-1: 16px !default;
$font-size-2: 14px !default;
$font-size-3: 13px !default;
$font-size-4: 12px !default;

$font-size-default: $font-size-2 !default;

// @end category
// @end type

// @type line-height 行高
$display0-line-height: 92px !default;
$display1-line-height: 72px !default;
$display2-line-height: 48px !default;

$h1-line-height: 40px !default;
$h2-line-height: 32px !default;
$h3-line-height: 30px !default;
$h4-line-height: 24px !default;

// @category base
$line-height-1: 24px !default;
$line-height-2: 20px !default;
$line-height-3: 18px !default;
$line-height-4: 16px !default;

// @ignore
$line-height-default: $line-height-2 / $font-size-2 !default;
// @end ignore

// @end category
// @end type

// @type border-width 边框
// @category base

// @unconfigurable
$border-width-0: 0px !default;
// @end unconfigurable

$border-width-1: 1px !default;
$border-width-2: 2px !default;
// @end category
// @end type

// @type border-radius 圆角
// @category base

$border-radius-0: 0px !default;
$border-radius-1: 1px !default;
$border-radius-2: 2px !default;
$border-radius-3: 4px !default;
$border-radius-round: 2000px !default; // 常用于制造圆角为高度的一半
$border-radius-half: 50% !default;
// @end category
// @end type

// @type shadow 阴影
// @category base

$shadow-0: none !default;
$shadow-1: 0px 2px 1px -1px rgba(25, 42, 50, 0.2), 0px 1px 1px rgba(25, 42, 50, 0.14),
  0px 1px 3px rgba(25, 42, 50, 0.12) !default;
$shadow-2: 0px 3px 1px -2px rgba(25, 42, 50, 0.2), 0px 2px 2px rgba(25, 42, 50, 0.14),
  0px 1px 5px rgba(25, 42, 50, 0.12) !default;
$shadow-3: 0px 2px 4px -1px rgba(25, 42, 50, 0.2), 0px 4px 5px rgba(25, 42, 50, 0.14),
  0px 1px 10px rgba(25, 42, 50, 0.12) !default;
$shadow-4: 0px 3px 5px -1px rgba(25, 42, 50, 0.2), 0px 6px 10px rgba(25, 42, 50, 0.14),
  0px 1px 18px rgba(25, 42, 50, 0.12) !default;
$shadow-5: 0px 5px 5px -3px rgba(25, 42, 50, 0.2), 0px 8px 10px 1px rgba(25, 42, 50, 0.14),
  0px 3px 14px 2px rgba(25, 42, 50, 0.12) !default;
$shadow-6: 0px 8px 10px -5px rgba(25, 42, 50, 0.2), 0px 16px 24px 2px rgba(25, 42, 50, 0.14),
  0px 6px 30px 5px rgba(25, 42, 50, 0.12) !default;
$shadow-7: 0px 10px 13px -6px rgba(25, 42, 50, 0.2), 0px 20px 31px 3px rgba(25, 42, 50, 0.14),
  0px 8px 38px 7px rgba(25, 42, 50, 0.12) !default;
// @end category
// @end type

// @type color 色彩
// @category base

// @name 白色
$color-white: #fff !default;
// @name 黑色
$color-black: #0e161c !default;
// @name 透明
$color-transparent: transparent !default;

// @end unconfigurable
// @end category

// @category primary 主色
// @name 主色

$color-primary-1: #305bef !default;
$color-primary-2: #022786 !default;

$color-primary: $color-primary-1 !default;
// @end category

$color-secondary1: #adc0fd !default;
$color-secondary: $color-secondary1 !default;

// @category text 文字

$color-text-1: #0e161c !default;
$color-text-2: #1c2c36 !default;
$color-text-3: #3f5663 !default;
$color-text-4: #6b828f !default;
$color-text-5: #98abb6 !default;
$color-text-6: #bfcdd4 !default;
$color-text-default: $color-text-1 !default;

// @category line 线条

$color-line-1: #bfcdd4 !default;
$color-line-2: $color-primary-1 !default;
$color-line-default: $color-line-1 !default;
// @end category

// @category fill 填充

$color-fill-1: $color-primary-1 !default;
$color-fill-2: #f7f9fa !default;
$color-fill-3: #eff4f6 !default;
$color-fill-4: #e5ecff !default;
$color-fill-5: #dce5e9 !default;
$color-fill-default: $color-fill-1 !default;
// @end category

// @category link 链接
$color-link: $color-primary-1 !default;
$color-link-hover: $color-primary-2 !default;
$color-link-pressed: $color-primary-2 !default;
$color-link-active: $color-primary-1 !default;
// @end category

// @category info 信息
$color-info: #0090d9 !default;
$color-info-1: #00579e !default;
$color-info-2: #8bd9f7 !default;
$color-info-3: #e6f8ff !default;
// @end category

// @isolation
$color-success: #2eaa77 !default;
$color-success-1: #10774c !default;
$color-success-2: #9cf0cd !default;
$color-success-3: #e6fff4 !default;

// @end category

// @category danger 危险
// @ignore
$color-danger: #e52533 !default;
$color-danger-1: #d0000f !default;
$color-danger-2: #fcb9be !default;
$color-danger-3: #ffebec !default;

// @category warning 警告
// @ignore
$color-warning: #ffc72c !default;
$color-warning-1: #b15500 !default;
$color-warning-2: #e3812b !default;
$color-warning-3: #fff8e6 !default;
// @end category
// @end type

// @unconfigurable
// @type text-decoration 文本样式
// @category base
// @name 上划线
$text-decoration-overline: overline !default;
// @name 下划线
$text-decoration-underline: underline !default;
// @name 中划线
$text-decoration-line-through: line-through !default;
// @name 虚线
$text-decoration-dotted: dotted !default;
// @name 无
$text-decoration-none: none !default;
// @end category
// @end type
// @end unconfigurable

// $text-disabled-color: #bfcdd4;
// $bg-disabled-color: #f7f9fa;
// $border-disabled-color: #bfcdd4;

// @end module
// ++++++++++++++++++++++++++++++++++++++++++++++

// @module component

$placeholder-color: $color-text-6 !default;
$link-text-decoration: none !default;
$link-hover-text-decoration: $text-decoration-underline !default;
$link-disabled-color: $color-text-4 !default;

$s-base: 4px !default; // 基础尺寸
$s-increase: $s-base !default; // 每档递增量
// @end unselected

// @unconfigurable
$s-0: 0 !default;
$s-1: $s-base !default;
$s-2: $s-1 + $s-increase !default;
$s-3: $s-2 + $s-increase !default;
$s-4: $s-3 + $s-increase !default;
$s-5: $s-4 + $s-increase !default;
$s-6: $s-5 + $s-increase !default;
$s-7: $s-6 + $s-increase !default;
$s-8: $s-7 + $s-increase !default;
$s-9: $s-8 + $s-increase !default;
$s-10: $s-9 + $s-increase !default;
$s-11: $s-10 + $s-increase !default;
$s-12: $s-11 + $s-increase !default;
$s-13: $s-12 + $s-increase !default;
$s-14: $s-13 + $s-increase !default;
$s-15: $s-14 + $s-increase !default;
$s-16: $s-15 + $s-increase !default;
$s-17: $s-16 + $s-increase !default;
$s-18: $s-17 + $s-increase !default;
$s-19: $s-18 + $s-increase !default;
$s-20: $s-19 + $s-increase !default;

// 兼容 1.0 变量
$control-height: 34px !default;
$control-small-height: 26px !default;
$control-large-height: 42px !default;

$h-1: $control-small-height !default;
// @value 34px
// @isolation
$h-2: $control-height !default;
// @value 42px
// @isolation
$h-3: $control-large-height !default;

// @component popover 弹出框
// @category base
// @propsValue default
// @refer color
// @name popper-间距
$popper-offset: 2px !default;
// @refer shadow
// @name popper-阴影
$popper-shadow: 0 1px 3px 0 rgba(52, 88, 124, 0.23) !default;
// @name popper-背景色
$popper-bgc: $color-white !default;
// @name popper-边框颜色
$popper-border-color: $popper-bgc !default;
// @name popper-圆角
$popper-border-radius: $border-radius-2 !default;
// @refer color
// @name popper-箭头-文字颜色
$popper-arrow-color: #ebeef5 !default;
// @name popper-箭头-尺寸
$popper-arrow-size: 5px !default;
// @name 标题颜色
$popover-title-color: $color-text-1 !default;
// @name 标题字重
$popover-title-font-weight: $font-weight-medium !default;

// @end propsValue
// @end category

// @category size
// @propsValue default
// @name 字号
$popover-font-size: $font-size-2 !default;
// @name 行高
$popover-line-height: $line-height-2 !default;
// @name 竖直内边距
$popover-padding-vertical: $s-3 !default;
// @name 水平内边距
$popover-padding-horizontal: $s-4 !default;
// @name 标题字号
$popover-title-font-size: $font-size-3 !default;
// @name 标题下间距
$popover-title-margin-bottom: $s-2 !default;
// @end propsValue

// @propsValue small
// @name 小号-字号
$popover-small-font-size: $font-size-1 !default;
// @name 小号-行高
$popover-small-line-height: $line-height-1 !default;
// @name 小号-竖直内边距
$popover-small-padding-vertical: 10px !default;
// @name 小号-水平内边距
$popover-small-padding-horizontal: $s-3 !default;
// @name 小号-标题字号
$popover-small-title-font-size: $font-size-2 !default;
// @name 小号-标题下间距
$popover-small-title-margin-bottom: $s-2 !default;

// @end ignore

// @end module

// @component date-picker 日期选择器
// @include input, button

// @category base
// @propsValue default
// @name 禁用-文字颜色
$date-picker-disabled-color: $color-text-4!default;
// @name 激活-文字颜色
$date-picker-active-color: $color-primary!default;
// @refer color
// @name 禁用-背景色
$date-picker-disabled-bgc: $color-fill-3!default;
// @refer color
// @name 边框颜色
$date-picker-border-color: #E7E9EF!default;
// @name 宽度
$date-picker-width: 200px!default;

// @name 字号
$date-picker-font-size: $font-size-1!default;
// @name 页头-高度
$date-picker-header-height: $s-10!default;
// @name 页头-行高
$date-picker-header-line-height: $line-height-1!default;
// @name 页头-竖直内边距
$date-picker-header-padding-vertical: ($date-picker-header-height - $date-picker-header-line-height)/2;
// @name 页头-水平内边距
$date-picker-header-padding-horizontal: $s-5!default;
// @name 页头-input-尺寸
$date-picker-header-input-size: 100px!default;
// @name 页头-input-间距
$date-picker-header-input-offset: $s-3!default;
// @name 页头-文字颜色
$date-picker-header-color: $color-text-1!default;
// @name 页头-悬浮-文字颜色
$date-picker-header-hover-color: $color-primary!default;
// @name 图标-按钮-尺寸
$date-picker-icon-btn-size: $font-size-1!default;
// @refer color
// @name 图标-按钮-文字颜色
$date-picker-icon-btn-color: #808AB1!default;
// @name 图标-按钮-悬浮-文字颜色
$date-picker-icon-btn-hover-color: $color-primary!default;

// @name 侧边栏-宽度
$date-picker-sidebar-width: 160px!default;
// @name 侧边栏-边框-宽度
$date-picker-sidebar-border-width: 0!default;
// @name 侧边栏-边框颜色
$date-picker-sidebar-border-color: transparent!default;
// @name shortcut-竖直内边距
$date-picker-shortcut-padding-vertical: 0!default;
// @name shortcut-水平内边距
$date-picker-shortcut-padding-horizontal: 16px!default;
// @refer color
// @name shortcut-背景色
$date-picker-shortcut-bgc: #FBFBFB!default;
// @name shortcut-下外边距
$date-picker-shortcut-margin-bottom: $s-2!default;
// @name shortcut-行高
$date-picker-shortcut-line-height: $h-2!default;
// @name shortcut-悬浮-背景色
$date-picker-shortcut-hover-bgc: $color-line-2!default;
// @name shortcut-悬浮-文字颜色
$date-picker-shortcut-hover-color: $color-primary!default;

// @name 单元格-尺寸
$date-picker-cell-size: 32px!default;
// @name 单元格-字号
$date-picker-cell-font-size: $font-size-4!default;
// @name 单元格-内单元-字号
$date-picker-cells-cell-font-size: $font-size-2!default;
// @name 单元格-圆角
$date-picker-cell-border-radius: $border-radius-2!default;
// @name 单元格-竖直间距
$date-picker-cell-offset: $s-0!default;
// @name 单元格-水平间距
$date-picker-cell-padding-horizontal: $s-0!default;
// @name 单元格-悬浮-文字颜色
$date-picker-cell-hover-color: $color-white!default;
// @name 单元格-悬浮-背景色
$date-picker-cell-hover-bgc: $color-primary!default;
// @name 单元格-选中-文字字重
$date-picker-cell-selected-font-weight: $font-weight-regular!default;
// @name 单元格-选中-文字颜色
$date-picker-cell-selected-color: $color-white!default;
// @name 单元格-选中-背景色
$date-picker-cell-selected-bgc: $color-primary!default;
// @name 单元格-文字颜色
$date-picker-cell-color: $color-text-2!default;
// @name 单元格-页头-文字颜色
$date-picker-cell-header-color: $date-picker-cell-color!default;

// @name 单元格-宽度
$date-picker-cells-width: $date-picker-cell-size * 7 + 7 * 2 * $date-picker-cell-padding-horizontal;
// @name 单元格-宽度-with-weeknumbers
$date-picker-cells-width-with-weeknumbers: $date-picker-cell-size * 8 + 8 * 2 * $date-picker-cell-padding-horizontal;

// @name 单元格-间距-vertical
$date-picker-cells-offset-vertical: $s-3!default;
// @name 单元格-间距-水平
$date-picker-cells-offset-horizontal: $s-4!default;

// @refer color
// @name 范围-背景色
$date-picker-range-bgc: #EDF1FF!default;
// @name outsize- 单元格-文字颜色
$date-picker-outsize-cell-color: $color-text-6!default;
// @name today-文字颜色
$date-picker-today-color: $color-primary!default;
// @refer color
// @name 禁用-背景色
$date-picker-disabled-bgc: #f7f7f7!default;

// @name 年- 单元格-高度
$date-picker-year-cell-height: 26px!default;
// @name 月- 单元格-宽度
$date-picker-month-cell-width: 38px + $date-picker-cell-offset!default;
// @end propsValue
// @end category
// @end component

// @component time-picker 时间选择器
// @include input
// @category base
// @propsValue default
// @name 最大高
$time-picker-max-height: 180px!default;
// @name 边框颜色
$time-picker-border-color: $date-picker-border-color!default;
// @name 单元格-宽度
$time-picker-cells-width:80px!default;
// @name 单元格-高度
$time-picker-cell-height: 30px!default;
// @refer color
// @name 单元格-悬浮-背景色
$time-picker-cell-hover-bgc: #E5ECFF!default;
// @name 单元格-选中-字重
$time-picker-cell-selected-font-weight: $font-weight-medium!default;
// @name 单元格-选中-文字颜色
$time-picker-cell-selected-color: $color-white!default;
// @refer color
// @name 单元格-选中-背景色
$time-picker-cell-selected-bgc: $color-primary-1!default;
// @refer color
// @name 单元格-禁用-文字颜色
$time-picker-cell-disabled-color: #c5c8ce!default;
// @end propsValue
// @end category
// @end component
