@import 'mixins/mixins';
@import 'common/var';

@include c('btn-group') {
  font-size: 0; // 清除写法中空格对样式的影响
  border: solid 1px $color-line-1;
  border-radius: $border-radius-2;

  @include c('btn') {
    border-width: 0;
    border-right-width: 1px;
    border-radius: 0;
    &:last-child {
      border-right-width: 0px;
    }
  }

  // &:before, &:after{
  //   content: ' ';
  //   display: table;
  // }
  // &:after{
  //   clear: both;
  // }
  // @include c('btn') {
  //   float: left;
  // }
}
