@import 'common/var';
@import 'mixins/mixins';

$legend-padding: 2px;
$legend-height: $font-size-4 + 2 * $legend-padding;
$input-height: 36px;

@mixin reset-input() {
  box-sizing: border-box;
  font-size: $font-size-default;
  font-weight: $font-weight-regular;
  padding: 8px;
  border: none;
  width: 100%;
  height: $input-height;
  &::placeholder {
    color: $color-text-6;
  }
}

@mixin reset-form {
  padding: 0;
  margin: 0;
}

// start defined wd-input
@include c(input) {
  @include reset-input();
  //   position: absolute;
  left: 0;
  top: 0;
  background-color: transparent;
  position: absolute;
  top: $legend-height/2;
  left: 0;
  outline: none;

  &-wrapper {
    text-align: left;
    position: relative;
    width: 240px;
    // height: 36px;
    fieldset {
      @include reset-form;
      font-size: $font-size-2;
      line-height: $line-height-2;
      color: $color-text-1;
      border: solid $border-width-1 $color-line-1;

      border-radius: $border-radius-2;
      height: $input-height + $legend-height/2;
    }
    legend {
      @include reset-form;
      margin-left: 8px;
      padding: $legend-padding;
      color: currentColor;
      font-size: $font-size-4;
      line-height: 1;
      height: $legend-height;
    }
  }
  &-focused {
    fieldset {
      border-color: $color-line-2;
      color: $color-line-2;
    }
  }
}
