@import "./common/var.scss";
@import "./mixins/mixins.scss";
@include c(smenu-item) {
  // height: $smenu-item-height;
  position: relative;
  cursor: pointer;
  &-title{
    padding: 0 $smenu-padding-horizontal;
    padding-left: 43px !important;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-items: flex-start;
    color: currentColor;
    cursor: pointer;
    @include text-ellipsis();
    transition: padding .3s;
    &:hover, &.hover{
      text-decoration: none;
    }
  }
  &-text{
    font-size: $smenu-font-size;
    flex: 1 1 auto;
    min-width: 0;
    // user-select: none;
    @include text-ellipsis();
  }
  &-icon {
    flex: 0 0 auto;
    font-size: $smenu-item-icon-size;
    min-width: $smenu-item-icon-size;
    margin-right: $smenu-item-icon-margin-right;
  }
}
