@import './common/var.scss';
@import './mixins/mixins.scss';
// @component stepper 步骤条
// @category base
// @propsValue default
// @name 最小宽
$stepper-min-width: 150px !default;
// @name zindex
$stepper-zindex: 1 !default;
// @name main-zindex
$stepper-main-zindex: 2 !default;
// @name 默认-背景色
$stepper-default-bgc: $color-white !default;
// @name 圆文字-字重
$stepper-circletext-font-weight: $font-weight-medium !default;
// @name 状态文字-字重
$stepper-statustext-font-weight: $font-weight-bold !default;

// @dom circle
// @name 圆-边框-宽度
$stepper-circle-border-width: $border-width-1 !default;
// @end dom

// @dom dot
// @name 点-边框-宽度
$stepper-dot-border-width: 3px !default;
// @name 点-线-尺寸
$stepper-dot-line-size: $border-width-1 !default;
// @end dom

// @dom line
// @name 线-水平内边距
$stepper-line-padding-horizontal: 5px !default;
// @name 线-尺寸
$stepper-line-size: $border-width-1 !default;
// @end dom
// @end propsValue
// @end category

// @category size
// @propsValue default
// @name 圆-尺寸
$stepper-circle-size: 24px !default;
// @name 点-尺寸
$stepper-dot-size: $font-size-2 !default;
// @name 图标-尺寸
$stepper-icon-size: 20px !default;
// @name 水平-状态文字-竖直外边距
$stepper-horizontal-statustext-margin-vertical: 5px !default;
// @name 水平-状态文字-外边距-水平
$stepper-horizontal-statustext-margin-horizontal: 5px !default;
// @name 状态文字-字号
$stepper-statustext-font-size: $h3-font-size !default;
// @name 状态文字-行高
$stepper-statustext-line-height: $h3-line-height !default;
// @name 圆文字-字号
$stepper-circletext-font-size: $font-size-2 !default;
// @name 圆文字-行高
$stepper-circletext-line-height: $h4-line-height !default;
// @name 水平-右侧-状态文字-外边距-水平
$stepper-horizontal-right-statustext-margin-horizontal: 5px !default;
// @end propsValue

// @propsValue small
// @name 小号-圆-尺寸
$stepper-small-circle-size: 26px !default;
// @name 小号-点-尺寸
$stepper-small-dot-size: $s-4 !default;
// @name 小号-图标-尺寸
$stepper-small-icon-size: $font-size-3 !default;
// @name 小号-水平-竖直外边距-状态文字
$stepper-small-horizontal-statustext-margin-vertical: 5px !default;
// @name 小号-水平-状态文字-外边距-水平
$stepper-small-horizontal-statustext-margin-horizontal: 5px !default;
// @name 小号-状态文字-字号
$stepper-small-statustext-font-size: $font-size-1 !default;
// @name 小号-行高-状态文字
$stepper-small-statustext-line-height: 16px !default;
// @name 小号-圆文字-字号
$stepper-small-circletext-font-size: $font-size-1 !default;
// @name 小号-行高-圆文字
$stepper-small-circletext-line-height: inherit !default;
// @name 小号-水平-右侧-状态文字-外边距-水平
$stepper-small-horizontal-right-statustext-margin-horizontal: 5px !default;
// @name 小号-水平-字号-描述
$stepper-small-horizontal-description-font-size: $stepper-small-statustext-font-size - 2 !default;
// @name 小号-行高-水平-描述
$stepper-small-horizontal-description-line-height: $stepper-small-statustext-line-height - 2 !default;
// @name 小号-vertical-点-项-宽度
$stepper-small-vertical-dot-item-width: 140px !default;
// @end propsValue
// @end category

// @category direction
// @propsValue horizontal
// @name 水平-点-竖直外边距
$stepper-horizontal-dot-margin-vertical: 5px !default;
// @name 水平-点-外边距-水平
$stepper-horizontal-dot-margin-horizontal: 5px !default;
// @name 水平-右侧-竖直外边距-状态文字
$stepper-horizontal-right-statustext-margin-vertical: auto !default;
// @name 水平-右侧-点-外边距-水平
$stepper-horizontal-right-dot-margin-horizontal: auto !default;
// @name 水平-字号-标题
$stepper-horizontal-title-font-size: $font-size-1 !default;
// @name 水平-字重-标题
$stepper-horizontal-title-font-weight: $font-weight-regular !default;
// @name 水平-行高-标题
$stepper-horizontal-title-line-height: $line-height-1 !default;
// @name 水平-字号-描述
$stepper-horizontal-description-font-size: $font-size-4 !default;
// @name 水平-行高-描述
$stepper-horizontal-description-line-height: $line-height-4 !default;
// @name 水平-字重-描述
$stepper-horizontal-description-font-weight: $font-weight-regular !default;
// @name 水平-描述-竖直外边距
$stepper-horizontal-description-margin-vertical: 0 !default;
// @name 水平-描述-外边距-水平
$stepper-horizontal-description-margin-horizontal: 5px !default;
// @name 水平-右侧-项-宽度
$stepper-horizontal-right-item-width: 140px !default;
// @end propsValue

// @propsValue vertical
// @name vertical-状态文字-外边距-水平
$stepper-vertical-statustext-margin-horizontal: 5px !default;
// @name vertical-描述-竖直外边距
$stepper-vertical-description-margin-vertical: 5px !default;
// @name vertical-描述-外边距-水平
$stepper-vertical-description-margin-horizontal: 5px !default; // 1.0
// @name vertical-字号-circel-描述
$stepper-vertical-circel-description-font-size: $stepper-horizontal-description-font-size !default;
// @name vertical-字重-circel-描述
$stepper-vertical-circel-description-font-weight: $stepper-horizontal-description-font-weight !default;
// @name vertical-行高-circel-描述
$stepper-vertical-circel-description-line-height: $stepper-horizontal-description-line-height !default;
// @name vertical-字号-点-描述
$stepper-vertical-dot-description-font-size: $stepper-horizontal-description-font-size !default;
// @name vertical-字重-点-描述
$stepper-vertical-dot-description-font-weight: $stepper-horizontal-description-font-weight !default;
// @name vertical-行高-点-描述
$stepper-vertical-dot-description-line-height: $stepper-horizontal-description-line-height !default;
// @name vertical-点-项-宽度
$stepper-vertical-dot-item-width: 216px !default;
// @end propsValue
// @end category

// @category status
// @propsValue wait
// @name 等待-圆-背景色
$stepper-wait-circle-bgc: $color-white !default;
// @name 等待-圆-边框颜色
$stepper-wait-circle-border-color: $color-line-1 !default;
// @name 等待-圆-文字颜色
$stepper-wait-circletext-color: $color-text-6 !default;
// @name 等待-字重-圆文字
$stepper-wait-circletext-font-weight: $font-weight-regular !default;
// @name 等待-status-文字颜色
$stepper-wait-statustext-color: $color-line-1 !default;
// @name 等待-线-文字颜色
$stepper-wait-line-color: $color-line-1 !default;
// @name 等待-点-背景色
$stepper-wait-dot-bgc: $color-line-1 !default;
// @name 等待-点-边框颜色
$stepper-wait-dot-border-color: rgba($stepper-wait-dot-bgc, 0.3) !default;
// @name 等待-标题-文字颜色
$stepper-wait-title-color: $stepper-wait-circle-bgc !default;
// @name 等待-描述-文字颜色
$stepper-wait-description-color: $color-text-6 !default;
// @name 等待-图标-文字颜色
$stepper-wait-icon-color: $color-line-1 !default;
// @end propsValue

// @propsValue process
// @name 进行中-圆-阴影:
$stepper-process-circle-shadow: $shadow-0 !default;
// @name 进行中-圆-背景色
$stepper-process-circle-bgc: $color-primary !default;
// @name 进行中-圆-边框颜色
$stepper-process-circle-border-color: $color-primary !default;
// @name 进行中-圆-文字颜色
$stepper-process-circletext-color: $color-white !default;
// @name 进行中-字重-圆文字
$stepper-process-circletext-font-weight: $font-weight-regular !default;
// @name 进行中-status-文字颜色
$stepper-process-statustext-color: $color-text-2 !default;
// @name 进行中-线-文字颜色
$stepper-process-line-color: $color-primary !default;
// @name 进行中-点-背景色
$stepper-process-dot-bgc: $color-primary !default;
// @name 进行中-点-边框颜色
$stepper-process-dot-border-color: rgba($color-primary, 0.3) !default;
// @name 进行中-标题-文字颜色
$stepper-process-title-color: $stepper-process-circle-bgc !default;
// @name 进行中-描述-文字颜色
$stepper-process-description-color: $color-text-2 !default;
// @name 进行中-图标-文字颜色
$stepper-process-icon-color: $color-primary !default;
// @end propsValue

// @propsValue finish
// @name 结束-圆-背景色
$stepper-finish-circle-bgc: $color-primary !default;
// @name 结束-圆-边框颜色
$stepper-finish-circle-border-color: $color-primary !default;
// @name 结束-圆-文字颜色
$stepper-finish-circletext-color: $color-white !default;
// @name 结束-字重-圆文字
$stepper-finish-circletext-font-weight: $font-weight-regular !default;
// @name 结束-status-文字颜色
$stepper-finish-statustext-color: $color-text-1 !default;
// @name 结束-线-文字颜色
$stepper-finish-line-color: $color-primary !default;
// @name 结束-点-背景色
$stepper-finish-dot-bgc: $color-primary !default;
// @name 结束-点-边框颜色
$stepper-finish-dot-border-color: rgba($stepper-finish-dot-bgc, 0.3) !default;
// @name 结束-标题-文字颜色
$stepper-finish-title-color: $stepper-finish-circle-bgc !default;
// @name 结束-描述-文字颜色
$stepper-finish-description-color: $color-text-2 !default;
// @name 结束-图标-文字颜色
$stepper-finish-icon-color: $color-primary !default;
// @end propsValue

// @propsValue cancel
// @name 取消-圆-背景色
$stepper-cancel-circle-bgc: $color-warning !default;
// @name 取消-圆-边框颜色
$stepper-cancel-circle-border-color: $color-warning !default;
// @name 取消-圆-文字颜色
$stepper-cancel-circletext-color: $color-white !default;
// @name 取消-字重-圆文字
$stepper-cancel-circletext-font-weight: $font-weight-regular !default;
// @name 取消-status-文字颜色
$stepper-cancel-statustext-color: $color-warning !default;
// @name 取消-线-文字颜色
$stepper-cancel-line-color: $color-warning !default;
// @name 取消-点-背景色
$stepper-cancel-dot-bgc: $color-warning !default;
// @name 取消-点-边框颜色
$stepper-cancel-dot-border-color: rgba($stepper-cancel-dot-bgc, 0.3) !default;
// @name 取消-标题-文字颜色
$stepper-cancel-title-color: $stepper-finish-circle-bgc !default;
// @name 取消-描述-文字颜色
$stepper-cancel-description-color: $color-text-2 !default;
// @name 取消-图标-文字颜色
$stepper-cancel-icon-color: $color-warning !default;
// @end propsValue

// @propsValue error
// @name 错误-圆-背景色
$stepper-error-circle-bgc: $color-danger !default;
// @name 错误-圆-边框颜色
$stepper-error-circle-border-color: $color-danger !default;
// @name 错误-圆-文字颜色
$stepper-error-circletext-color: $color-white !default;
// @name 错误-字重-圆文字
$stepper-error-circletext-font-weight: $font-weight-regular !default;
// @name 错误-status-文字颜色
$stepper-error-statustext-color: $color-danger !default;
// @name 错误-线-文字颜色
$stepper-error-line-color: $color-danger !default;
// @name 错误-点-背景色
$stepper-error-dot-bgc: $color-danger !default;
// @name 错误-点-边框颜色
$stepper-error-dot-border-color: rgba($stepper-error-dot-bgc, 0.3) !default;
// @name 错误-标题-文字颜色
$stepper-error-title-color: $stepper-finish-circle-bgc !default;
// @name 错误-描述-文字颜色
$stepper-error-description-color: $color-text-2 !default;
// @name 错误-图标-文字颜色
$stepper-error-icon-color: $color-danger !default;
// @end propsValue

// @end category
// @end component

@include c(stepper) {
  display: flex;
  overflow: hidden;
}
