@import './common/var.scss';
@import './mixins/mixins.scss';

$normal-height: 20px;
$large-height: 28px;

@include c(tag) {
  padding-left: 8px;
  padding-right: 8px;
  background-color: $color-fill-2;
  display: inline-flex;
  align-items: center;
  $iconx: $prefix + '-icon-x';
  height: $normal-height;
  box-sizing: border-box;

  .#{$iconx} {
    cursor: pointer;
    svg {
      width: 16px;
      height: 16px;
      margin-left: 4px;
    }
  }

  @include e('normal') {
    font-size: $font-size-4;
  }
  @include e('large') {
    font-size: $font-size-2;

    height: $large-height;
    .#{$iconx} svg {
      width: 20px;
      height: 20px;
    }
  }
  @include e('round') {
    border-radius: $normal-height/2;
    &.#{$B}-default {
      color: $color-text-1;
    }
    &.#{$B}-large {
      border-radius: $large-height/2;
    }
  }

  @include e('default') {
    color: $color-text-3;
  }
  @include e('primary') {
    color: $color-info-1;
    background-color: $color-info-3;
  }

  @include e('success') {
    color: $color-success-1;
    background-color: $color-success-3;
  }
  @include e('danger') {
    color: $color-danger-1;
    background-color: $color-danger-3;
  }
  @include e('warning') {
    color: $color-warning-1;
    background-color: $color-warning-3;
  }
  @include e('clickable') {
    cursor: pointer;
  }
  @include e('disabled') {
    background-color: $color-fill-3;
    color: $color-text-5 !important;
    cursor: not-allowed;
    .#{$iconx} {
      cursor: not-allowed;
    }
  }
}
