@import "./common/var.scss";
@import "./mixins/mixins.scss";
.#{$prefix}-picker-panel-body-wrapper {
}
.#{$prefix}-picker-panel-body {
  width: 242px;
  // border-bottom: 1px solid rgba(0,0,0,0.06);
  .#{$prefix}-picker-panel-content{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #F0F4F6;
    .#{$prefix}-time-picker-multiple-header {
      margin: 8px;
      font-size: 12px;
      color: rgba(0,0,0,0.60);
      letter-spacing: 0;
    }
  }
}
.#{$prefix}-picker-panel-multiple-body {
  .#{$prefix}-picker-panel-multiple-content {
    text-align: center;
    .#{$prefix}-time-picker-multiple-header {
      margin: 8px;
      font-size: 12px;
      color: rgba(0,0,0,0.60);
      letter-spacing: 0;
    }
  }
}

.#{$prefix}-picker-panel-multiple-content + .#{$prefix}-picker-panel-multiple-content {
  margin-left: 12px;
}
.#{$prefix}-time-picker-with-range {
  width: 496px;
}
.#{$prefix}-time-picker-cells {
  min-width: $time-picker-cells-width;
  &-with-minutes{
    min-width: 2*$time-picker-cells-width;
  }
  &-with-seconds{
    min-width: 3*$time-picker-cells-width;
  }
  &-list{
    width: $time-picker-cells-width;
    max-height: $time-picker-max-height;
    float: left;
    overflow: auto;
    position: relative;
  }
  &-list + &-list {
    border-left: none;
  }
  &-list:first-child {
    border-top-left-radius: 4px;
    border: 0;
  }
  &-list:nth-child(2) {
    width: 82px;
    border-left: 1px solid #F0F4F6;
    border-right: 1px solid #F0F4F6;
  }
  &-list:last-child {
    border-top-right-radius: 4px;
    border: 0;
  }
  &-ul{
    width: 100%;
    margin: 0;
    padding: 0 0 0;
    list-style: none;
  }
  &-cell{
    font-family: Noto Sans SC;
    font-size: 14px;
    font-weight: $font-weight-regular;
    color: #0E161C;
    display: block;
    height: $time-picker-cell-height;
    line-height: $time-picker-cell-height;
    margin: 0;
    // padding: 0 0 0 16px;
    // text-align: left;
    text-align: center;
    user-select: none;
    cursor: pointer;
    list-style: none;
    transition: background .2s ease-in-out;
    &:hover, &.hover{
      background-color: $time-picker-cell-hover-bgc;
    }
    &-selected{
      color: $time-picker-cell-selected-color;
      background-color: $time-picker-cell-selected-bgc;
      font-weight: $time-picker-cell-selected-font-weight;
      // font-family: $time-picker-cell-selected-font-family;
    }
    &-selected:hover {
      background-color: $time-picker-cell-selected-bgc;
    }
    &-disabled{
      color: $time-picker-cell-disabled-color;
      cursor: not-allowed;
      &:hover, &.hover{
        background-color: inherit;
      }
    }
  }
}
.#{$prefix}-picker-panel-footer {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .btn {
    font-family: Noto Sans SC;
    font-size: 14px;
    border-radius: 2px;
    width: 80px;
    height: 36px;
    margin: 6px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 20px;
    background: #305BEF;
    border: 0;
  }
  .disabled {
    background: #F7F9FA;
    color: #BFCDD4;
  }
  .select-now {
    margin-left: 8px;
    font-family: Noto Sans SC;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #305BEF;
    cursor: pointer;
  }
}

.input-icon-suffix svg {
  width: 18px !important;
  height: 18px !important;
  stroke-width: 1px !important;
}